*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: green;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #B7C68B;
    background-image: linear-gradient(to top, #B7C68B 0%, #F4F0CB 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links{
    color: #B7C68B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #B7C68B;
    color: #fff;
}

.button:hover {
    background: #b3a580;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #b3a580;
    transform: all 0.3s ease;
}

/* Main CSS */

.main {
    background-color: #F4F0CB;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #ded29e;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #B7C68B;
    background-image: linear-gradient(to top, green 0%, #B7c68B 100%,);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #B7C68B;
    background-image: linear-gradient(to top, green 0%, #B7c68B 100%,);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, green 0%, #B7c68B 100%,);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: ALL 0.35S;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: black;
    text-decoration: none;
}

.main__btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: green;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #B7c68B;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
    background-image: wrap;
}

#main__img--container {
    height: 100%;
    width: 100%;
}

/* Information CSS */

.information {
    background: #ded29e;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.information h1 {
    background-color: #B7c68B;
    background-image: linear-gradient(to top, green 0%, #B7c68B 100%,);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.information__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.information__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, green 0%, #B7c68B 100%,);
    background-size: cover;
    position: relative;
    color: #fff;
}

















/* Footer CSS */

.footer {
    background-color: green;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


